main {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
}

img {
  max-width: 100%;
}

#section_1 {
  line-break: 34%;
}

h1,
h2 {
  font-size: 2.5rem;
  padding-bottom: 1.5rem;
}

p {
  padding-top: 0.5rem;
}

.social_icon {
  display: flex;
  max-width: 20%;
  aspect-ratio: 35/35;
  padding-top: 20px;
  gap: 20px;
}

/* /// google maps style */

.mapouter {
  position: relative;
  text-align: right;
  height: 500px;
  width: 600px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 600px;
}

#section_2 {
  width: 100%;
  height: auto;
  overflow: hidden;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (min-width: 600px) {
  #find_os {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }

  .social_icon {
    display: flex;
    max-width: 15%;
    aspect-ratio: 35/35;
    padding-top: 20px;
    gap: 20px;
  }
}
