/* body {
  background: url("/billeder/bread.jpg") no-repeat;
  background-size: cover;
  width: 100%;
} */

.white {
  background-color: transparent;
  place-content: initial;
}

main {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  padding: 1rem;
  height: clamp(700px, 56.25vw, 100vh);
  color: #fff;
  background-image: url("/billeder/bread.jpg");
  background-size: cover;
  background-blend-mode: multiply;
  place-items: center;
}

.container {
  display: grid;
  place-items: center;
}

img {
  grid-area: 1/2;
  width: 80%;
  margin-top: 50%;
}
h3 {
  grid-area: 2/2;
  font-size: 40px;
}
