a {
  font-size: 24px;
  text-decoration: none;
  font-family: gin, serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  letter-spacing: 2px;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: white;
}
video {
  width: 100%;
}

main {
  background-color: #afacac99;

  color: #fff;
  font-family: system-ui;
  display: grid;
  place-items: center;
  height: 100vh;
}

main .content,
main video {
  grid-row: 1;
  grid-column: 1;
  grid-area: 1 / 1;
  text-align: center;
}

main .content {
  padding: 2rem;
  z-index: 1;
}

main video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  mix-blend-mode: overlay;
}

.big {
  font-size: 40px;
}

.center {
  grid-area: 1/2;
  width: 80%;
}

@media (max-width: 600px) {
  a {
    font-size: 40px;
  }

  li {
    padding-top: 4rem;
    margin: auto;
  }

  footer {
    display: block;
    margin-top: 20px;
    padding: 10% 10% 4% 10%;
    background-color: rgba(203, 203, 203, 0.228);
    gap: 50px;
    line-height: 1.5;
    justify-content: space-evenly;
  }

  address {
    font-family: rooney-sans, sans-serif;
    font-style: normal;
    color: #305770;
    margin-bottom: 30px;
  }

  footer a {
    font-family: rooney-sans, sans-serif;
    font-size: 1rem;
    color: #305770;
  }

  footer a:hover {
    font-family: rooney-sans, sans-serif;
    font-weight: 300;
    font-style: normal;
    text-decoration: underline;
  }
}

/* .overlay {
  display: grid;
  background-color: #afacac99;
  mix-blend-mode: overlay;
} */

h4 {
  font-size: 20px;
}

h1,
h2,
h3,
h4 {
  font-family: gin, serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}
