img {
  max-width: 100%;
}

main {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
}

h3,
h4 {
  padding-bottom: 1.5rem;
}

h2 {
  padding-bottom: 0.2rem;
}

h3 {
  /* padding-top: 1.5rem; */
  padding-bottom: 0.2rem;
}

p {
  padding-top: 0.5rem;
}

/* Styling af knap */

button {
  font-size: 16px;
  font-weight: 200;
  padding: 13px 28px 13px;
  margin-top: 30px;
  border: 0;
  background-color: #75a1bd;
  color: white;
  font-family: gill-sans-nova-condensed, sans-serif;
  cursor: pointer;
}

button:hover {
  transition: 1s;
  background-color: #305770;
}

/*–––––––––––––––––––––––––––––– Mobil version ––––––––––––––––––––––––––––– */

@media (max-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    /* margin-left: 70px; */
    /* text-align: center; */
  }

  .toggle-btn {
    background: transparent;
    border: none;
    display: block;
    width: 44px;
    height: 44px;
    padding: 0.25rem;
    cursor: pointer;
    z-index: 3;
    position: relative;
    margin-left: 10%;
  }

  img {
    padding-bottom: 1rem;
  }

  /*––Styling af tekst under "Kontakt os"––*/
  .tekst {
    padding-bottom: 1.5rem;
    /* text-align: center; */
  }

  /*––Styling af åbningstider––*/
  .tider {
    padding-bottom: 1.5rem;
  }

  /*––Styling af kontaktoplysninger––*/
  .oplysninger {
    padding-bottom: 1.5rem;
  }

  /*––Styling af "kontakt os"––*/
  .os {
    margin-top: 1rem;
  }

  /*––Styling af knap––*/
  button {
    padding: 13px 18px 13px;
  }

  /*––Styling af formular––*/
  form {
    display: grid;
    gap: 2rem;
    padding: 2rem;
    background: #f7f0e6;
    border-radius: 8px;
  }

  .form-felt {
    display: grid;
    gap: 3px;
  }

  label,
  input,
  textarea,
  button {
    display: block;
  }

  textarea {
    width: 285px;
    height: 162px;
  }

  /*––Styling af footer––*/

  footer {
    display: block;
    margin-top: 20px;
    padding: 10% 10% 4% 10%;
    background-color: rgba(203, 203, 203, 0.228);
    gap: 50px;
    line-height: 1.5;
    justify-content: space-evenly;
  }

  address {
    font-family: rooney-sans, sans-serif;
    font-style: normal;
    color: #305770;
    margin-bottom: 30px;
  }

  footer a {
    font-family: rooney-sans, sans-serif;
    font-size: 1rem;
    color: #305770;
  }

  footer a:hover {
    font-family: rooney-sans, sans-serif;
    font-weight: 300;
    font-style: normal;
    text-decoration: underline;
  }
  #ftider {
    margin-bottom: 30px;
  }
  #flinks {
    /* display: flex; */
    gap: 10px;
    justify-content: end;
  }
  #flinks a {
    max-width: 9%;
  }

  hr {
    color: #305770;
  }
}

/*–––––––––––––––––––––––––––––– Web version ––––––––––––––––––––––––––––– */

@media (min-width: 600px) {
  .section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }

  main img {
    box-shadow: 10px 10px #ffe1b8;
  }

  /*––Her gives et grid til billedet––*/
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #billede {
    grid-column: 2/2;
  }

  /*––Her placeres oplysninger og tider––*/
  .kontakt {
    grid-column: 1/2;
    grid-row: 1;
  }

  /*––Styling af tekst under "Kontakt os"––*/
  .tekst {
    margin-bottom: 2rem;
  }

  /*––Styling af åbningstider––*/
  .tider {
    margin-left: 69px;
  }

  p {
    font-size: 1.2rem;
  }

  /*––Styling af formular––*/
  .formular {
    margin-top: 4rem;
  }

  form {
    display: grid;
    gap: 2rem;
    padding: 2rem;
    background: #f7f0e6;
    border-radius: 8px;
  }

  .form-felt {
    display: grid;
    gap: 3px;
  }

  label,
  input,
  textarea,
  button {
    display: block;
  }

  textarea {
    width: 526px;
    height: 162px;
  }

  /*––Styling af footer––*/
  footer {
    margin-top: 50px;
    padding: 10% 10% 4% 10%;
    background-color: rgba(203, 203, 203, 0.228);
    gap: 50px;
    line-height: 1.5;
    justify-content: space-evenly;
  }

  address {
    font-family: rooney-sans, sans-serif;
    font-style: normal;
    color: #305770;
    margin-bottom: 30px;
  }

  footer a {
    font-family: rooney-sans, sans-serif;
    font-size: 1rem;
    color: #305770;
  }

  footer a:hover {
    font-family: rooney-sans, sans-serif;
    font-weight: 300;
    font-style: normal;
    text-decoration: underline;
  }

  #ftider {
    margin-bottom: 30px;
  }

  #flinks {
    display: flex;
    gap: 10px;
    justify-content: end;
  }

  #flinks a {
    max-width: 9%;
  }

  hr {
    color: #305770;
  }
}
