img {
  max-width: 100%;
}

main {
  display: grid;
}

#first_section {
  display: grid;
}

#billede {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  /* grid-row: 2/4;
  grid-column: 2/2; */
}

#tider {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
