/* mobile */

@media (min-width: 600px) {
  #special_ordre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
}

main {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
}

h1,
h2 {
  padding-bottom: 1.5rem;
}

p {
  padding-top: 0.5rem;
  padding-bottom: 2rem;
}

/* /// knap  */
button {
  transition-duration: 0.4s;
  width: 40%;
  height: 20%;
}

button:hover {
  background-color: rgb(221, 165, 119); /* bagrundsfarve */
  color: rgb(0, 0, 0);
}

img {
  max-width: 100%;
}

/* styling af kontakt boks */
form {
  padding: 2rem;
  background: hsl(264 30% 96%);
  border-radius: 8px;
  display: grid;
  gap: 10px;
}

label,
input,
button {
  display: block;
  font-family: "Gill Sans";
}

.form-felt {
  display: grid;
  gap: 3px;
}

input,
textarea {
  color: gray;
}
