@media (min-width: 600px) {
  #special_ordre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 150px;
  }
}
/* Generlle regler */
main {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
}

h1,
h2 {
  padding-bottom: 1.5rem;
}

p {
  padding-top: 0.5rem;
  padding-bottom: 2rem;
}

/* Billeder */
img {
  max-width: 100%;
}

/* /// knap  */

/* CSS */
#button_1 {
  font-size: 16px;
  font-weight: 200;
  padding: 13px 20px 13px;
  border: 0;
  background-color: #75a1bd;
  color: white;
  font-family: gill-sans-nova-condensed, sans-serif;
  cursor: pointer;
}

#button_1:hover {
  transition: 1s;
  background-color: #305770;
}

@media (min-width: 600px) {
  #button_1 {
    padding: 13px 50px 13px;
  }
}

@media (max-width: 600px) {
  img {
    padding-top: 30px;
  }
}
